footer {
  font-size: 10px;
}

input {
  margin-top: 10px;
  width: 180px;
}

.badge {
  font-size: 14px;
}

.btn-large {
  padding: 12px;
}

.count_button {
  padding: 12px; 
}

.search {
  margin-top: 12px;
  padding: 6px;
  padding-left: 16px;
  padding-right: 16px;
}